# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor
.idea/
.vscode/
*.swp
*.swo
*~

# environment
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# caches
.cache/
.turbo/
.eslintcache
.stylelintcache
.prettier-cache/
*.tmp

# deployment
.vercel/

# test output
/coverage
/playwright-report/
/test-results/
/_qa/
